<%= form_tag search_breed_images_path, method: :get do %>
  <%= label_tag :breed_name, 'Enter Breed Name:' %>
  <%= text_field_tag :breed_name, params[:breed_name] %>
  <%= submit_tag "Search" %>
<% end %>

<% if params[:breed_name].present? %>
  <% if params[:breed_name].length < 3 || params[:breed_name].length > 15 %>
    <p style="color: red; font-weight: bold;">Please enter a breed name with 3 to 15 characters.</p>
  <% end %>
<% end %>
