<% @breeds.each do |breed| %>
  <h1><%= breed.name.capitalize %></h1>
  <% breed.sub_breeds.each do |sub_breed| %>
  <ul>
    <li><%= sub_breed.name.capitalize %></li>
  </ul>
  <% end %>
<% end %>

<%= paginate @breeds %>
