<!DOCTYPE html>
<html>
<head>
  <title>All Dog Breeds</title>
  <style>
    /* Style the breeds table */
    table {
      width: 30%; 
      border-collapse: collapse;
    }

    /* Style table headers */
    th {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: left;
      border: 1px solid #dddddd;
    }

    /* Style table rows */
    tr {
      border: 1px solid #dddddd;
    }

    /* Style table cells */
    td {
      padding: 10px;
      text-align: left;
      border: 1px solid #dddddd;
    }
  </style>
</head>
<body>
  <h1>All Dog Breeds</h1>

  <table>
    <thead>
      <tr>
        <th>Breed Name</th>
      </tr>
    </thead>
    <tbody>
      <% @breeds.each do |breed| %>
        <tr>
          <td style="max-width: 100px;"> 
            <%= link_to breed.name.capitalize, breed %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @breeds %>
</body>
</html>
